# To set these as env vars in Windows cmd:
#   for /f "usebackq tokens=1,* delims==" %i in (.env) do set %i=%j
AZURE_OPENAI_ENDPOINT=https://my.openai.azure.com
AZURE_OPENAI_DEPLOYMENT=gpt-chat-latest
